<h1>Ranking</h1>
<%= link_to 'Create new user', user_new_path %>
<br><br>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Points</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.points %></td>
        <td>
          <%= link_to 'Edit', user_edit_path(user.id) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
